.myPaginator {
    margin-left: 30px;
}

.aui-paginator-link {
    background-color: #FFF;
    border: 1px solid #DDD;
    border-width: 1px 1px 1px 0;
    color: #0088CC;
    float: left;
    margin: 0;
    padding: 3px 8px;
}

.aui-paginator-first-link {
    border-radius: 5px 0 0 5px;
    border-left-width: 1px;
}

.aui-paginator-last-link {
    border-radius: 0 5px 5px 0;
}

.aui-paginator-link:hover, .aui-paginator-current-page, .aui-paginator-current-page:hover {
    background-color: #F5F5F5;
    text-decoration: none;
}

.aui-paginator-link:hover {
    color: #005580;
}

.aui-paginator-current-page, .aui-paginator-current-page:hover {
    color: #999;
}

.aui-paginator-current-page-report {
    margin: 0 10px;
}

.aui-paginator-rows-per-page {
    margin: 0;
    width: auto;
}

.pageContainer, .item {
    border-radius: 5px;
    border: 1px solid #DDD;
}

.pageContainer {
    background-color: #FFF;
    margin: 15px;
    padding: 10px 10px 0 10px;
}

.item {
    display: none;
    margin-bottom: 10px;
    padding: 0 0 5px 5px;
}