#myList li {
  cursor: pointer;
}

.placeholder {
  background: #fff;
  height: 30px;
  border: 1px dashed #ccc !important;
  opacity: .5;
}

.yui-dd-dragging {
  visibility: hidden;
}

.aui-helper-hidden {
  display: none;
}