h4 {
  width: auto;
  min-width: 0;
  clear: none;
  float: left;
}
button {
  float: left;
  clear: right;
  margin: 8px 10px;
}
code {
  float: none;
  clear: both;
}

table {
  width: 100%;
  float: none;
  clear: both;
  background-color: #f9f9f9;
  border: 1px solid #eee;
  border-collapse: collapse;
  margin-bottom: 10px;
}
td, th {
  border-bottom: 1px solid #fff;
  border-top: 1px solid #eee;
  border-left: 1px solid #fff;
  border-right: 1px solid #eee;
}
th {
  background-color: #f5f5ff;
}
thead {
  font-variant: small-caps;
}