body {
  font-size: 12px;
  padding: 10px 30px;
}

#shipping {
  width: 482px;
  height: 152px;
  padding: 110px 0 0 30px;
  background: url('../img/shipping.png') transparent no-repeat 0 0;
  margin: 30px auto;
}

label {
  color: #36558E;
}