#myToggler {
	display: block;
	margin: 20px 5px;
  cursor: pointer;
}

.header {
	font-size: 24px;
	margin: 0;
	padding: 5px 0;
	width: 75%;
}

.header span {
	font-size: 100%;
  color: #08c;
}

.header:hover, .aui-toggler-header-expanded {
	background-color: #ddd;
}

.header:before {
	color: #A5A5A5;
	float: left;
}

.toggler-header-collapsed:before {
	content: "+";
}

.toggler-header-expanded:before {
	content: "-";
	font-size: 120%;
	margin: 0 2.5px;
}

.content {
	background-color: #eee;
	font-size: 120%;
	font-style: italic;
	margin: 0;
	padding: 5px 2.5%;
	width: 70%;
}