.aui-image-viewer {
  height: auto;
  width: auto;
}

.aui-image-viewer-bd, .aui-image-viewer-image {
  height: auto !important;
  width: auto !important;
}

.picture {
  border: 5px solid #222;
  margin: 10px;
}