.pickerTitle {
    margin: 10px 0 10px 20px;
}

#datePicker {
    border: 1px solid #CBCBCB;
    float: none;
    margin: 0 10px 10px 10px;
    padding: 10px 10px 0 10px;
}

#srcNode select {
    width: 110px;
}

#trigger {
    height: 30px;
    margin: 0 0 10px 2px;
}

/* -------- Calender -------- */

.aui-date-picker {
    font-size: .8em;
}

.yui3-calendar-content {
    background-color: #F9F9F9;
    padding: 15px;
}

.yui3-calendar-header {
    padding: 8px 0;
    text-align: center;
}

.yui3-u {
    display: inline;
}

.yui3-calendarnav-prevmonth, .yui3-calendarnav-nextmonth {
    background: url("data/arrows.png") no-repeat scroll 0 0 transparent;
    height: 17px;
    position: absolute;
    width: 29px;
}

.yui3-calendarnav-prevmonth span, .yui3-calendarnav-nextmonth span {
    display: none;
}

.yui3-calendarnav-prevmonth {
    background-position: 0 -17px;
    left: 10px;
    top: 25px;
}

.yui3-calendar-header-label {
    padding: 0 20px;
}

.yui3-calendarnav-nextmonth {
    background-position: 0 0;
    right: 10px;
    top: 25px;
}

.yui3-calendar-weekdayrow th {
    text-align: center;
}

.yui3-calendar-grid tbody {
    background-color: #FFF;
    border: 1px solid #CBCBCB;
    padding: 7px;
}

.yui3-calendar-grid tbody tr {
    border-bottom: 1px solid #CBCBCB;
}

.yui3-calendar-grid tbody tr td {
    border-right: 1px solid #CBCBCB;
    padding: 0 5px;
    text-align: center;
}

.yui3-calendar-grid tbody tr td:hover {
    background-color: #0066CC;
}

.yui3-calendar-grid tbody .yui3-calendar-day-selected {
    background-color: #B3D4FF;
}