.example-item {
    background: #f0fbff;
    border: 1px solid #d1ecf7;
    display: block;
    height: 60px;
    opacity: .7;
}

.example-item:hover,
.example-item:focus {
    background: #fff;
    text-decoration: none;
    opacity: 1;
    border-color: #01adee;
}

.example-item-image {
    float: left;
    margin: 15px 15px 15px 0;
    height: 32px;
    width: 32px;
}

.example-item-title {
    color: #01adee;
    margin: 15px 0 10px;
}

.example-item-description {
    color: #004159;
    display: none;
}

/* Medium devices (tablets and up) */
@media (min-width: 768px) {
    .example-item {
        height: 125px;
    }

    .example-item-image {
        margin: 20px 15px 15px 0;
        height: 64px;
        width: 64px;
    }

    .example-item-description {
        display: block;
    }
}

/* Big devices (desktops and up) */
@media (min-width: 992px) {
    .example-item {
        height: 225px;
        text-align: center;
    }

    .example-item-image {
        float: none;
        margin: 25px auto 15px;
    }

    .example-item-title {
        color: #01adee;
        margin: 10px 0;
    }
}