/* ==========================================================================
   Footer
   ========================================================================== */

.main-footer {
    font-family: 'Roboto', sans-serif;
}

/* More info
   ========================================================================== */

.more-info {
    background: #0c1935;
    color: #fff;
    padding: 20px 0;
}

.more-info a {
    margin: 0 5px;
}

.more-info p,
.more-info ul {
    margin-bottom: 0;
}

.more-info li {
    list-style: none;
    display: inline-block;
}

.more-info li a {
    border-radius: 50%;
    background: #0b2848;
    width: 35px;
    height: 35px;
    display: block;
    text-align: center;
    padding: 7px 0;
    text-decoration: underline;
    margin-left: 0;
}

/* Credits
   ========================================================================== */

.credits {
    background: #071229;
    padding: 20px 0;
}

.credits p {
    margin-bottom: 0;
    text-align: center;
}

.credits a {
    margin: 0 5px;
}