.home-header {
    width: 100%;
    height: 450px;
    position: relative;
    background: #011233;
}

.stars, .twinkling {
    position: absolute;
    width: 100%;
    height: 100%;
    display: block;
}

.stars {
    z-index: 0;
    background: transparent url(../img/stars.png) repeat top center;
}

.twinkling {
    /*display: none;*/
    z-index: 1;
    background: transparent url(../img/twinkling-blue.png) repeat top center;
    -moz-animation: move-twink 200s linear infinite;
    -ms-animation: move-twink 200s linear infinite;
    -o-animation: move-twink 200s linear infinite;
    -webkit-animation: move-twink 200s linear infinite;
    animation: move-twink 200s linear infinite;
}

@keyframes move-twink {
    from { background-position: 0 0; }
    to { background-position: -10000px 5000px; }
}

@-webkit-keyframes move-twink {
    from { background-position: 0 0; }
    to { background-position: -10000px 5000px; }
}

@-moz-keyframes move-twink {
    from { background-position: 0 0; }
    to { background-position: -10000px 5000px; }
}

@-ms-keyframes move-twink {
    from { background-position: 0 0; }
    to { background-position: -10000px 5000px; }
}

/* Title
   ========================================================================== */

.h1-group {
    margin: 50px 0 20px;
}

.home-header h1 {
    color: #fff;
    font-family: 'Dosis', sans-serif;
    font-size: 36px;
    text-align: center;
    margin: 0;
    text-transform: uppercase;
}

.home-header h1 span {
    color: #01adee;
}

@media (min-width: 768px) {
    .home-header h1 {
        font-size: 48px;
        text-align: left;
    }
}

/* Subtitle
   ========================================================================== */

.home-header h2 {
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.3em;
    margin-bottom: 20px;
    text-align: center;
}

/* Small devices (tablets and up) */
@media (min-width: 768px) {
    .home-header h2 {
        text-align: left;
    }
}

/* Dog Illustration
   ========================================================================== */

#dog-header {
    display: none;
}

/* Small devices (tablets and up) */
@media (min-width: 768px) {
    #dog-header {
        display: block;
        margin-top: 40px;
    }
}

/* Call-to-action Buttons
   ========================================================================== */

.call-to-action {
    margin: 0 auto;
    width: 235px;
}

/* Small devices (tablets and up) */
@media (min-width: 768px) {
    .call-to-action {
        margin: 0;
    }
}

/* ==========================================================================
   Content
   ========================================================================== */

#content { max-width: 28em; text-align: justify; margin: 0 auto; padding: 2em; }

#content p { margin: 0 0 2em; }

/* ==========================================================================
   Testimonials
   ========================================================================== */

.testimonials {
    background: #cbeffd;
    font-family: 'Roboto', sans-serif;
}

.testimonials p {
    font-size: 14px;
    margin-bottom: 25px;
}

.testimonial-quote {
    border: 0;
    margin-top: 20px;
}

.testimonial-quote:before {
    background: url(../img/quote.png);
    display: block;
    width: 22px;
    height: 21px;
    position: absolute;
    left: 5px;
}

.testimonial-author p {
    margin: 0;
}

/* ==========================================================================
   Basic Tutorial
   ========================================================================== */

.home-section {
    background: #e6f8ff;
    font-family: 'Dosis', sans-serif;
}

.home-section h3 {
    color: #007ead;
    margin: 20px 0;
    text-align: center;
    text-transform: uppercase;
    font-size: 32px;
}

@media (min-width: 768px) {
    .home-section h3 {
        text-align: left;
    }
}

/* ==========================================================================
   Instructions
   ========================================================================== */

.instructions {
    font-family: 'Roboto', sans-serif;
    margin: 20px 0;
}

.instructions .instruction-order {
    color: #fff;
    background: #01adee;
    font-size: 18px;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    display: block;
    margin: 0 auto 5px;
    text-align: center;
}

@media (min-width: 768px) {
    .instructions .instruction-order {
        margin: 0 5px 0 0;
        display: inline-block;
    }
}

.instructions .instruction-title {
    color: #01adee;
    font-size: 18px;
    text-align: center;
    margin-bottom: 5px;
}

.instructions .instruction-description {
    color: #004159;
    font-size: 14px;
    text-align: center;
}

@media (min-width: 768px) {
    .instructions .instruction-title,
    .instructions .instruction-description {
        text-align: left;
    }
}

@media (min-width: 768px) {
    .instructions pre,
    .instructions .instruction-description {
        margin-left: 35px;
    }
}

/* Illustration
   ========================================================================== */

#dog-getstarted {
    display: none;
}

@media (min-width: 768px) {
    #dog-getstarted {
        display: block;
    }
}

/* ==========================================================================
   Why/Who
   ========================================================================== */

.why-who {
    background: #b4e5f8;
}

.why-who p {
    font-family: 'Roboto', sans-serif;
    color: #004159;
    font-size: 14px;
    line-height: 2em;
    margin-bottom: 15px;
}

.why-who h3 {
    margin: 35px 0;
}

.who img {
    max-width: 100%;
}

.who {
    border-top: 1px solid #90d0e9;
}

.who p,
.who h3 {
    text-align: center;
}

.who p {
    padding-bottom: 35px;
    margin: 0;
}

.why p:last-child {
    margin-bottom: 35px;
}

@media (min-width: 768px) {
    .why-who {
        padding: 60px 0;
    }

    .why-who h3 {
        margin: 0 0 35px;
    }

    .who {
        border-left: 1px solid #90d0e9;
        border-top: 0;
    }

    .who p:last-child {
        padding: 0;
    }

    .why p:last-child {
        padding: 0;
    }
}