* {
    margin: 0;
    padding: 0;
}

hr {
    border-color: #bce8f1;
}

pre {
    padding: 0;
    border-color: #bce8f1;
}

.main-header {
    width: 100%;
    height: 50px;
    position: relative;
    background: #011233;
}

/* ==========================================================================
   Header
   ========================================================================== */

.container {
    position: relative;
    z-index: 2;
}