.navbar-default {
    background: transparent;
    border: 0;
    border-bottom: 1px solid rgba(255, 255, 255, .1);
    font-family: 'Roboto', sans-serif;
    z-index: 3;
}

.navbar-default .navbar-nav {
    display: inline-block;
    margin: 0;
}

@media (min-width: 768px) {
    .navbar-default .container {
        padding: 0;
    }
}

/* ==========================================================================
   Brand
   ========================================================================== */

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    background-color: rgba(255, 255, 255, .1);
}

/* ==========================================================================
   Dropdown
   ========================================================================== */

@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu {
        position: absolute;
        background: #fff;
    }

    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
}

.navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #01adee;
}

.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
.navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #01adee;
    background: #cceffc;
}

/* ==========================================================================
   Navbar items
   ========================================================================== */

/*@media (min-width: 768px) {*/
    .navbar-default .navbar-nav > li > a,
    .navbar-default .navbar-nav > li > a:hover,
    .navbar-default .navbar-nav > li > a:focus {
        color: #fff;
    }

    .navbar-default .navbar-nav > li > a:hover,
    .navbar-default .navbar-nav > li > a:focus {
        background-color: rgba(255, 255, 255, .1);
    }
/*}*/

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
    background-color: rgba(255, 255, 255, .1);
    color: #fff;
}

.navbar-default .navbar-nav > li > a {
    padding-top: 15px;
    padding-bottom: 15px;
}

@media (min-width: 768px) {
    .navbar-default .navbar-nav > li > a {
        padding: 18px 8px 12px;
    }
}

@media (min-width: 992px) {
    .navbar-default .navbar-nav > li > a {
        padding-left: 15px;
        padding-right: 15px;
    }
}

/* Navbar version
   ========================================================================== */

.navbar-default .navbar-version {
    float: left;
}

/* Navbar collapse
   ========================================================================== */

.navbar-default .navbar-collapse {
    border: 0;
    /*background: #fff;
    color: #01adee;*/
}

@media (max-width: 767px) {
    .navbar-default .navbar-collapse {
        padding: 0;
        width: 100%;
        position: absolute;
        background: #fff;
    }

    .navbar-default .navbar-collapse .navbar-nav {
        display: block;
    }

    .navbar-default .navbar-collapse .navbar-nav > li > a,
    .navbar-default .navbar-collapse .navbar-nav > li > a:hover,
    .navbar-default .navbar-collapse .navbar-nav > li > a:focus {
        background: #fff;
        color: #01adee;
    }

    .navbar-default .navbar-collapse .navbar-nav > li > a:hover,
    .navbar-default .navbar-collapse .navbar-nav > li > a:focus {
        background: #cceffc;
    }
}

/* ==========================================================================
   Hamburger menu
   ========================================================================== */

.navbar-default .navbar-toggle {
    border-radius: 0;
    border: 0;
    margin: 0;
    padding: 18px;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: rgba(255, 255, 255, .1);
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
}

/* Active state
   ========================================================================== */

.navbar-default .navbar-toggle.active {
    background: #fff;
}

.navbar-default .navbar-toggle.active .icon-bar {
    background: #01adee;
}