/* Global Resets */

body {
  font-family: 'Open Sans', sans-serif;
}

blockquote {
  border: 0;
}

h3 {
  color: #12191d;
  font-size: 36px;
  font-weight: 300;
  text-align: center;
  line-height: 1em;
  margin: 10px 0;
}

h4 {
  margin: 15px 0;
}

code,
pre {
  padding: 0 3px 2px;
  font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
  font-size: 14px;
  margin-bottom: 5px;
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
}

/* Hero Unit */

.hero-unit {
  background: #202d36;
  border-bottom: 5px solid #2bb2e4;
  margin-bottom: 0;
}

.hero-unit img {
  width: 100%;
  height: 265px;
  margin: 40px 0 0 0;
  background: #0f161a;
}

.hero-unit h2 {
  color: #fff;
  font-size: 44px;
  font-weight: normal;
  line-height: 1.1em;
  margin: 30px 0 0 0;
}

.hero-unit p {
  color: #fff;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.5em;
  margin: 15px 0 5px 0;
}

.bt {
  text-indent: -9999px;
  display: inline-block;
  margin: 25px 0 0 0;
}

#bt-download {
  width: 216px;
  height: 69px;
  background: url(../img/btn-download.png);
  margin-left: -5px;
}

#bt-fork {
  width: 146px;
  height: 69px;
  background: url(../img/btn-fork.png);
}

/* Quote */

.quote {
  width: 100%;
  height: 130px;
  background: #e9eced;
}

.quote blockquote {
  margin: 0;
}

.quote p {
  color: #53483b;
  line-height: 1.4em;
  font-size: 18px;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-style: italic;
  margin: 0;
  padding: 30px 0;
}

.quote p .author {
  font-size: 14px;
}

/* Getting Started */

.getting-started {
  margin-top: 40px;
}

.title img {
  display: block;
  margin: 0 auto;
}

.title p {
  color: #12191d;
  font-size: 18px;
  font-weight: 300;
  font-style: italic;
  text-align: center;
}

.instructions .steps {
  font-size: 18px;
  margin-bottom: 5px;
}

.instructions .description {
  font-weight: 300;
}

/* Showcase */

.showcase {
  margin-top: 10px;
}

.showcase h3 {
  margin-bottom: 40px;
}

.showcase .be-part {
  width: 400px;
  margin: 20px auto 0;
}

.showcase .be-part p {
  color: #12191d;
  font-size: 28px;
  font-weight: 300;
  font-style: italic;
  text-align: center;
  float: left;
  margin: 50px 10px 0 0;
}

/* Footer */

.footer {
  background: #162026;
  margin: 50px 0 0 0;
}

.footer .container {
  width: 940px;
}

.footer .nav {
  margin: 10px 10px 0 0;
}

.footer .nav > li > a {
  color: #e7e7e7;
  text-shadow: none;
}

.footer .nav > li > a:hover {
  color: #fff;
}

.footer .copyright {
  color: #e7e7e7;
  margin: 0;
  padding: 17px 0;
}

/* Sidebar */

.bs-docs-sidebar {
  margin: 0;
}

.bs-docs-sidenav {
  width: 228px;
  margin: 30px 0 0;
  padding: 0;
  background-color: #fff;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
  -webkit-box-shadow: 0 1px 4px rgba(0,0,0,.065);
     -moz-box-shadow: 0 1px 4px rgba(0,0,0,.065);
          box-shadow: 0 1px 4px rgba(0,0,0,.065);
}
.bs-docs-sidenav > li > a {
  display: block;
  width: 190px \9;
  margin: 0 0 -1px;
  padding: 8px 14px;
  border: 1px solid #e5e5e5;
}
.bs-docs-sidenav > li:first-child > a {
  -webkit-border-radius: 6px 6px 0 0;
     -moz-border-radius: 6px 6px 0 0;
          border-radius: 6px 6px 0 0;
}
.bs-docs-sidenav > li:last-child > a {
  -webkit-border-radius: 0 0 6px 6px;
     -moz-border-radius: 0 0 6px 6px;
          border-radius: 0 0 6px 6px;
}
.bs-docs-sidenav > .active > a {
  position: relative;
  z-index: 2;
  padding: 9px 15px;
  border: 0;
  text-shadow: 0 1px 0 rgba(0,0,0,.15);
  -webkit-box-shadow: inset 1px 0 0 rgba(0,0,0,.1), inset -1px 0 0 rgba(0,0,0,.1);
     -moz-box-shadow: inset 1px 0 0 rgba(0,0,0,.1), inset -1px 0 0 rgba(0,0,0,.1);
          box-shadow: inset 1px 0 0 rgba(0,0,0,.1), inset -1px 0 0 rgba(0,0,0,.1);
}
/* Chevrons */
.bs-docs-sidenav .icon-chevron-right {
  float: right;
  margin-top: 2px;
  margin-right: -6px;
  opacity: .25;
}
.bs-docs-sidenav > li > a:hover {
  background-color: #f5f5f5;
}
.bs-docs-sidenav a:hover .icon-chevron-right {
  opacity: .5;
}
.bs-docs-sidenav .active .icon-chevron-right,
.bs-docs-sidenav .active a:hover .icon-chevron-right {
  background-image: url(../img/glyphicons-halflings-white.png);
  opacity: 1;
}
.bs-docs-sidenav.affix {
  top: 40px;
}
.bs-docs-sidenav.affix-bottom {
  position: absolute;
  top: auto;
  bottom: 270px;
}