/* Page Title
   ========================================================================== */

.page-title {
    background: #5fd0fa;
}

.page-title h5 {
    color: #fff;
    font-family: 'Dosis', sans-serif;
    font-size: 2.5em;
    margin: 0;
    padding: .5em;
    text-align: center;
    text-transform: uppercase;
}

@media (min-width: 768px) {
    .page-title h5 {
        padding: 1em;
    }
}

/* Page Content
   ========================================================================== */

.page-content {
    background: #e6f8ff;
}

.page-content h6 {
    color: #008dc2;
    font-family: 'Dosis', sans-serif;
    font-size: 2em;
    text-transform: uppercase;
}

.page-content h4 {
    color: #008dc2;
    font-family: 'Roboto', sans-serif;
}

.page-content a {
    /*color: #01adee;*/
    font-family: 'Roboto', sans-serif;
    /*text-decoration: underline;*/
}

.page-content p {
    color: #004159;
    font-family: 'Roboto', sans-serif;
}

.page-content ul {
    list-style: none;
}

/*.page-content li {
    color: #004159;
    font-family: 'Roboto', sans-serif;
    padding-left: 1em;
    text-indent: -.7em;
}

.page-content li:before {
    content: "• ";
    color: #004159;
}*/
.page-content section {
    margin: 3em 0;
}