.nav-tabs {
    border-color: #2d86a8;
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
    background: #e6f8ff;
    border-color: #2d86a8;
    border-bottom-color: transparent;
    color: #2d86a8;
}

.nav-tabs > li > a:hover,
.nav-tabs > li > a:focus {
    background: #cbeffd;
    border-color: transparent;
    border-bottom-color: #2d86a8;
    color: #2d86a8;
}

#single-title {
    margin: 30px 0;
}

#single-tabs {
    margin: 20px 0;
}

#single-dropdown {
    float: right;
}

.nav-pills {
    margin-top: 30px;
}

.nav-pills > li > a {
    padding: 5px 15px;
}

.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
    background: #5fd0fa
}

.nav-pills > li > a:hover,
.nav-pills > li > a:focus {
    background: #cbeffd;
}