/* Universal */

body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
}

.wrapper {
  width: 960px;
  margin: 0 auto;
}

/* Header */

header {
  width: 100%;
  height: 400px;
  background: #202d36;
  border-bottom: 5px solid #2bb2e4;
}

/* Header & Footer - Nav */

header nav,
footer nav {
  width: 100%;
  height: 50px;
  background: #162026;
}

header .logo {
  float: left;
  color: #e7e7e7;
  font-size: 18px;
  text-decoration: none;
  margin: 0;
  padding: 17px 0;
}

header nav ul {
  float: right;
  padding: 7px 0;
}

/*header nav li:nth-child(6) {
  margin-right: 0;
}

footer nav li:nth-child(1) {
  margin-left: 0;
}*/

footer nav ul {
  float: left;
  padding: 7px 0;
}

footer .copyright {
  float: right;
  color: #e7e7e7;
  font-size: 16px;
  text-decoration: none;
  margin: 0;
  padding: 17px 0;
}

header nav li,
footer nav li {
  display: inline;
  list-style: none;
  margin: 0 10px;
}

header nav a,
footer nav a {
  color: #e7e7e7;
  font-size: 16px;
  text-decoration: none;
}

header nav a:hover,
footer nav a:hover {
  color: #fff;
  text-decoration: underline;
}

/* Intro */

.intro img {
  width: 460px;
  height: 265px;
  margin: 40px 20px 0 0;
  float: left;
  background: #0f161a;
}

.intro h2 {
  color: #fff;
  font-size: 48px;
  font-weight: normal;
  line-height: 1.1em;
  margin: 0;
  padding: 35px 0 0 30px;
}

.intro p {
  color: #fff;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.5em;
  margin: 15px 0 0 30px;
}

.intro a {
  text-indent: -9999px;
  display: inline-block;
  margin: 25px 0 0 0;
}

#bt-download {
  width: 216px;
  height: 69px;
  background: url(../img/btn-download.png);
  margin-left: -5px;
}

#bt-fork {
  width: 146px;
  height: 69px;
  background: url(../img/btn-fork.png);
}

/* Quote */

.quote {
  width: 100%;
  height: 130px;
  background: #e9eced;
}

.quote blockquote {
  margin: 0;
}

.quote p {
  color: #53483b;
  line-height: 1.4em;
  font-size: 18px;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-style: italic;
  margin: 0;
  padding: 30px 0;
}

.quote p .author {
  font-size: 14px;
}

/* Getting Started */

.getting-started {
  width: 100%;
  height: 260px;
  margin-top: 50px;
}

.title {
  width: 210px;
  height: 100%;
  float: left;
  margin-right: 40px;
}

.title img {
  display: block;
  margin: 0 auto;
}

.title h3 {
  color: #12191d;
  font-size: 36px;
  font-weight: 300;
  text-align: center;
  line-height: 1em;
  margin: 10px 0;
}

.title p {
  color: #12191d;
  font-size: 18px;
  font-weight: 300;
  font-style: italic;
  text-align: center;
}

.instructions {
  width: 700px;
  height: 100%;
  float: right;
}

.instructions .steps {

}

/* Monokai Syntax Highlight */

pre code {
  /*width: 100%;*/
  overflow: scroll;
  display: block;
  padding: 0.5em;
  background: #272822;
}

pre .tag,
pre .tag .title,
pre .keyword,
pre .literal,
pre .change,
pre .winutils,
pre .flow,
pre .lisp .title,
pre .clojure .built_in,
pre .nginx .title,
pre .tex .special {
  color: #F92672;
}

pre code {
  color: #DDD;
}

pre code .constant {
  color: #66D9EF;
}

pre .class .title {
  color: white;
}

pre .attribute,
pre .symbol,
pre .symbol .string,
pre .value,
pre .regexp {
  color: #BF79DB;
}

pre .tag .value,
pre .string,
pre .subst,
pre .title,
pre .haskell .type,
pre .preprocessor,
pre .ruby .class .parent,
pre .built_in,
pre .sql .aggregate,
pre .django .template_tag,
pre .django .variable,
pre .smalltalk .class,
pre .javadoc,
pre .django .filter .argument,
pre .smalltalk .localvars,
pre .smalltalk .array,
pre .attr_selector,
pre .pseudo,
pre .addition,
pre .stream,
pre .envvar,
pre .apache .tag,
pre .apache .cbracket,
pre .tex .command,
pre .prompt {
  color: #A6E22E;
}

pre .comment,
pre .java .annotation,
pre .python .decorator,
pre .template_comment,
pre .pi,
pre .doctype,
pre .deletion,
pre .shebang,
pre .apache .sqbracket,
pre .tex .formula {
  color: #75715E;
}

pre .keyword,
pre .literal,
pre .css .id,
pre .phpdoc,
pre .title,
pre .haskell .type,
pre .vbscript .built_in,
pre .sql .aggregate,
pre .rsl .built_in,
pre .smalltalk .class,
pre .diff .header,
pre .chunk,
pre .winutils,
pre .bash .variable,
pre .apache .tag,
pre .tex .special,
pre .request,
pre .status {
  font-weight: bold;
}

pre .coffeescript .javascript,
pre .javascript .xml,
pre .tex .formula,
pre .xml .javascript,
pre .xml .vbscript,
pre .xml .css,
pre .xml .cdata {
  opacity: 0.5;
}
