#panelContainer {
  margin: 10px;
}

.aui-panel {
  margin-top: 15px;
}

.aui-panel .aui-panel-content {
  border: none;
}

#panelContainer .aui-panel-hd {
  background: #B5BDC8;
  background: -moz-linear-gradient(top, #B5BDC8 21%, #828C95 64%, #28343B 100%);
  background: -webkit-linear-gradient(top, #B5BDC8 21%,#828C95 64%,#28343B 100%);
  color: #FFF;
  text-shadow: none;
}

#panelContainer .aui-panel-bd {
  background-color: #FFF;
  border: 1px solid #D1D1D1;
  border-width: 0 1px;
  padding: 10px;
}

.aui-panel-content, .aui-panel-hd, .aui-panel-collapsed .aui-panel-content .aui-panel-hd {
  border-radius: 15px 15px 0 0;
  -moz-border-bottom-right-radius: 15px 15px 0 0;
  -webkit-border-bottom-left-radius: 15px 15px 0 0;
}

.aui-toolbar-content button {
  background: #E2E2E2;
  background: -moz-linear-gradient(top, #E2E2E2 0%, #DBDBDB 56%, #D1D1D1 71%, #FEFEFE 100%);
  background: -webkit-linear-gradient(top, #E2E2E2 0%,#DBDBDB 56%,#D1D1D1 71%,#FEFEFE 100%);
  border: 1px solid #444;
  border-radius: 14px;
  line-height: 100%;
  margin: 1px 0 1px 1px;
  -moz-border-radius: 14px;
  -webkit-border-radius: 14px;
}

.aui-toolbar-content button:hover {
  background: #EAEAEA;
  background: -moz-linear-gradient(top, #EAEAEA 0%, #E5E5E5 49%, #DDDDDD 63%, #FEFEFE 99%);
  background: -webkit-linear-gradient(top, #EAEAEA 0%,#E5E5E5 49%,#DDDDDD 63%,#FEFEFE 99%);
}

.aui-toolbar-content .aui-buttonitem-content .aui-buttonitem-icon {
  margin-top: 0;
}

.aui-buttonitem-icon-only {
  height: 18px;
  width: 18px;
}

.aui-toolbar-content #collapse .aui-icon {
  background: url('data/arrows.png') no-repeat scroll 0 0 transparent;
  bottom: -6px;
  height: 22px;
  left: -5px;
  position: relative;
  width: 22px;
}

.aui-panel-collapsed #collapse .aui-icon {
  bottom: 9px;
  left: 9px;
}

.aui-panel-ft {
  border-radius: 0 0 15px 15px;
  color: #888;
  font-size: 0.8em;
  -moz-border-bottom-right-radius: 0 0 15px 15px;
  -webkit-border-bottom-left-radius: 0 0 15px 15px;
}

.panelCreator {
  border: 1px solid #D1D1D1;
  padding: 10px;
  margin: 0 0 10px 10px;
  width: 220px;
}

.highlighted {
  clear: left;
}