.yui3-overlay.aui-basecelleditor {
  z-index: 1 !important;
}

.aui-basecelleditor .aui-buttonitem-label-only {
  padding-bottom: 1px;
}

#myPropertyList {
  margin: 15px 5px;
  width: 330px;
}

#myPropertyList table {
  width: 100%;
}