[submodule "lib/yui3"]
	path = lib/yui3
	url = git://github.com/liferay/yui3.git
[submodule "src"]
	path = src
	url = git://github.com/liferay/alloy-ui.git
[submodule "lib/yuidoc"]
	path = lib/yuidoc
	url = git://github.com/yui/yuidoc.git
