[submodule "lib/aui-lint"]
	path = lib/aui-lint
	url = git@github.com:zenorocha/aui-lint.git
[submodule "src/files/js/alloy-ui"]
	path = src/files/js/alloy-ui
	url = git@github.com:zenorocha/alloyui.com.git
