[submodule "_includes/alloy-ui"]
	path = _includes/alloy-ui
	url = git://github.com/liferay/alloy-ui.git
[submodule "lib/yuidocjs"]
  path = lib/yuidocjs
  url = https://github.com/davglass/yuidocjs.git