---
layout: default
---

<div id="page-examples">

  <section class="intro">
    <img src="assets/img/logo.png" alt="AlloyUI - Logo" class="logo">
    <h1>AlloyUI</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit,<br> sed do eiusmod
    tempor incididunt ut labore et dolore<br> magna aliqua. Ut enim ad minim veniam.</p>
  </section>

  <nav>
    <ul>
      <li><a href="#">Category X</a></li>
      <li><a href="#">Category Y</a></li>
      <li><a href="#">Category V</a></li>
      <li><a href="#">Category W</a></li>
      <li><a href="#">Category Z</a></li>
    </ul>
  </nav>

  <section class="demo">{% include demo-1.html %}</section>
  <section class="demo">{% include demo-2.html %}</section>

</div>