.paginator {
    margin-left: 20px;
}

.paginator-link {
    background-color: #FFF;
    border: 1px solid #CCCCCC;
    padding: 3px 6px;
}

.paginator-link:hover {
    background-color: #0088CC;
    border: none;
    color: #FFF;
    padding: 4px 7px;
    text-decoration: none;
}

.paginator-current-page, .paginator-current-page:hover {
    background-color: #8F8F8F;
    border: none;
    color: #FFF;
    padding: 4px 7px;
}

.paginator-rows-per-page {
    display: none;
}

.request {
    background-color: #FFF;
    border: 1px solid #CBCBCB;
    margin: 10px;
    padding: 10px;
}