.twitter-box {
  position: relative;
  width: 530px;
  height: 211px;
  background: url(../img/twitter-box.png);
}

#myCounter {
  position: absolute;
  bottom: 15px;
  right: 95px;
  text-align: center;
  color: #999;
}

#myTextarea {
  position: absolute;
  top: 60px;
  left: 20px;
  width: 475px;
  height: 75px;
}