.toolbar-content button.buttonitem-content {
    padding: 3px 3px 2px 1px
}

.diagram-builder {
    margin-bottom: 10px;
}

.diagram-builder-canvas {
    z-index: 2;
}

.yui3-datatable-x-scroller {
    border: 1px solid #CBCBCB;
}

.yui3-datatable-table {
    font-size: .75em;
    min-width: 100%;
}

.yui3-datatable-header {
    background: linear-gradient(transparent 40%, rgba(0, 0, 0, 0.21)) repeat-x scroll 0 0 #FFFFFF;
    font-weight: normal;
}

.yui3-datatable-header:hover {
    background-color: #F1F2F3;
}

.yui3-datatable-sort-liner {
    position: relative;
}

.yui3-datatable-sort-indicator {
    background: url('data/sort-arrow.png') no-repeat scroll 0 0 transparent;
    bottom: 6px;
    height: 10px;
    margin: 0 5px;
    overflow: hidden;
    position: absolute;
    right: 3px;
    width: 7px;
}

.yui3-datatable-sorted .yui3-datatable-sort-indicator {
    background-position: 0 -10px;
}

.yui3-datatable-sorted-desc .yui3-datatable-sort-indicator {
    background-position: 0 -20px;
}

.yui3-datatable-columns th, .yui3-datatable-data tr td {
    padding-left: 5px;
}

.yui3-datatable-header.yui3-datatable-sorted {
    background-color: #F1F2F3;
}

.yui3-datatable-odd {
    background-color: #EDF5FF;
}

.yui3-datatable-even {
    background-color: #FFF;
}

.yui3-datatable-odd .yui3-datatable-sorted {
    background-color: #DBEAFF;
}

.yui3-datatable-even .yui3-datatable-sorted {
    background-color: #EDF5FF;
}

.yui3-datatable-columns th:first-child, .yui3-datatable-data tr td:first-child {
    border-right: 1px solid #CBCBCB;
}