#toggleColor {
  width: 694px;
  height: 50px;
  margin: 15px 0;
  border: 1px solid #000;
  border-radius: 3px;
  color: #FFF;
  cursor: pointer;
  font-size: 20px;
  letter-spacing: 1px;
  padding-top: 40px;
  text-align: center;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}