#toggleColor {
  width: 694px;
  height: 50px;
  margin: 15px 0;
  border: 1px solid #000;
  border-radius: 3px;
  color: #000;
  font-weight: bold;
  cursor: pointer;
  font-size: 20px;
  letter-spacing: 1px;
  padding-top: 10px;
  text-align: center;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}