#myProgressBarContainer {
  margin: 10px 5px;
}
#loadcontent p {
  background-color: #eee;
  border-top: 1px solid #ccc;
  padding: 10px 15%;
  width: auto;
}
.arrow {
  font-size: 200%;
}
.reset {
  margin-right: 10%;
}