.paginator {
	margin-left: 20px;
}

.aui-paginator-link {
	background-color: #FFF;
	border: 1px solid #CCCCCC;
	padding: 3px 6px;
}

.aui-paginator-link:hover {
	background-color: #0088CC;
	border: none;
	color: #FFF;
	padding: 4px 7px;
	text-decoration: none;
}

.aui-paginator-current-page, .aui-paginator-current-page:hover {
	background-color: #8F8F8F;
	border: none;
	color: #FFF;
	padding: 4px 7px;
}

.aui-paginator-rows-per-page {
	margin: 0;
	width: auto;
}

.pageContainer {
	background-color: #FFF;
	border: 1px solid #CBCBCB;
	margin: 15px;
	padding: 10px 10px 0 10px;
}

.item {
	border: 1px solid #CBCBCB;
	display: none;
	margin-bottom: 10px;
	padding: 0 0 5px 5px;
}