.aui-image-viewer {
  height: auto;
  width: auto;
}

.aui-image-viewer-bd, .aui-image-viewer-image {	
  height: auto !important;
  width: auto !important;
}

.gallery, .picture {
  margin: 10px;
}

.picture {
  border: 5px solid #222;
}