.aui-view-lt320 .myViewport,
.aui-view-320 .myViewport {
    width: 54px;
    height: 105px;
    background: url(../img/phone_portrait.png) no-repeat;
}
.aui-view-480 .myViewport {
    width: 102px;
    height: 52px;
    background: url(../img/phone_landscape.png) no-repeat;
}
.aui-view-720 .myViewport {
    width: 114px;
    height: 145px;
    background: url(../img/tablet_portrait.png) no-repeat;
}
.aui-view-960 .myViewport {
    width: 207px;
    height: 167px;
    background: url(../img/desktop.png) no-repeat;
}