.aui-view-lt960 #myViewport {
  background: #777;
  color: #FFF;
  width: 450px;
}

.aui-view-lt720 #myViewport {
  font-size: 32px;
  text-shadow: -1px -1px 0 #00F, 1px -1px 0 #00F, -1px 1px 0 #00F, 1px 1px 0 #00F;
  width: 200px;
}