.myViewport {
  -webkit-transition: 0.5s ease-in;
  -moz-transition: 0.5s ease-in;
  -o-transition: 0.5s ease-in;
  -ms-transition: 0.5s ease-in;
  transition: 0.5s ease-in;
  margin-top: 60px;
}
.myViewport:after {
  background: #333;
  color: #fff;
  font-size: 1.5em;
  text-shadow: -1px -1px #000;
  position: absolute;
  padding: 10px;
  border-radius: 3px;
  margin-top: -50px;
}
.aui-view-lt320 .myViewport:after,
.aui-view-320 .myViewport:after {
  content: 'Smart Phone (320px)';
}
.aui-view-480 .myViewport:after {
  content: 'Smart Phone Landscape (480px)';
}
.aui-view-720 .myViewport:after {
  content: 'Tablet (720px)';
}
.aui-view-960 .myViewport:after {
  content: 'Desktop (>= 960px)';
}