.view-960 #myViewport {
  width: 688px;
}

.view-720 #myViewport {
  width: 472px;
}

.view-gt720 #myViewport li {
  float: left;
  height: 100%;
  width: 25%;
}

.view-lt720 #myViewport {
  width: 256px;
}

.view-lt720 #myViewport li {
  height: 40px;
  margin: 0 auto;
  width: 100%;
}