.accordion {
	border: 1px solid #BBB;
	padding: 5px;
}

.accordion .title {
	background: #CCC;
	border: 1px solid #888;
	border-radius: 3px;
	color: #444;
	cursor: pointer;
	margin: 1px;
	padding: 4px;
}

.accordion .title:hover {
	border-color: #444;
	color: #111;
}

.accordion .section {
	height: 0;
	overflow: hidden;
	
}

.accordion .active {
	background: #DDD;
	color: #111;
}

.accordion .active + .section {
	height: auto;
	padding: 8px;
}