#myViewport ul {
  margin: 0;
}

#myViewport {
  border: 1px solid #CCC;
  height: 185px;
  margin: 3px;
  padding: 2px;
  position: relative;
}

#myViewport .navigation {
  height: 60px;
  width: 100%;
}

#myViewport .navigation li {
  display: table;
}

#myViewport .navigation li:nth-child(1) {
  background: #036;
}

#myViewport .navigation li:nth-child(2) {
  background: #69C;
}

#myViewport .navigation li:nth-child(3) {
  background: #99999F;
}

#myViewport .navigation li:nth-child(4) {
  background: #004;
}

#myViewport .navigation a {
  background: rgba(50, 50, 50, 0.2);
  color: #E6E6E6;
  display: table-cell;
  height: 100%;
  font: 20px "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
  text-align: center;
  vertical-align: middle;
  width: 100%;
}

#myViewport .navigation a:hover {
  background: rgba(255, 255, 255, 0.1);
  color: #FFF;
  font-weight: 500;
  text-decoration: none;
}

#myViewport:after {
  bottom: 0;
  color: #AAA;
  font-size: 20px;
  position: absolute;
  right: 0;
}

.aui-view-960 #myViewport:after {
  content: '960';
}

.aui-view-720 #myViewport:after {
  content: '720';
}

.aui-view-480 #myViewport:after {
  content: '480';
}

.aui-view-320 #myViewport:after {
  content: '320';
}