#demo {
	background-color: #274257;
	border: 1px solid #CBCBCB;
	min-height: 425px;
	margin: 15px;
	width: 500px;
}

.aui-loadingmask {
	z-index: 0 !important;
}

.page-content {
	color: #FFF;
	padding: 10px;
}

.page-content h5 {
	margin: 0;
}

.image {
	width: 480px;
}

.ioSelect {
	margin: 0 10px 10px 15px;
}

#reload {
	bottom: 5px;
	height: 30px;
	position: relative;
}