.yui3-datatable {
    border: solid 1px #CBCBCB;
    border-left-width: 0;
    font-size: 0.75em;
    margin: 10px 0;
}

.yui3-datatable-table {
    width: 100%;
}

.yui3-datatable-columns {
    background-image: linear-gradient(#FFF, #CBCBCB);
    border-bottom: solid 1px #CBCBCB;
}

.yui3-datatable-columns th {
    border-left: solid 1px #CBCBCB;
    text-align: center;
}

.yui3-datatable-sortable-column:hover {
    background-image: linear-gradient(#999, #CBCBCB);
}

.yui3-datatable-sort-liner {
    position: relative;
}

.yui3-datatable-sort-indicator {
    background: url('data/sort-arrow-sprite.png') no-repeat scroll 0 0 transparent;
    bottom: 0.75ex;
    height: 10px;
    margin: 0 5px;
    overflow: hidden;
    position: absolute;
    right: 0;
    width: 7px;
}

.yui3-datatable-sorted .yui3-datatable-sort-indicator {
    background-position: 0 -10px;
}

.yui3-datatable-sorted-desc .yui3-datatable-sort-indicator {
    background-position: 0 -20px;
}

.yui3-datatable-data tr.yui3-datatable-odd {
    background-color: #EDF5FF;
}

.yui3-datatable-data td {
    border-left: solid 1px #CBCBCB;
    border-top: solid 1px #CBCBCB;
    min-width: 50px;
    padding: 0 5px;
    text-align: center;
}

.yui3-calendar {
    border: solid 1px #CBCBCB;
}

.yui3-calendar-header {
    padding: 8px 0;
    text-align: center;
}

.yui3-u {
    display: inline;
}

.yui3-calendar-header div {
    padding: 5px;
}

.yui3-calendar-grid thead th {
    text-align: center;
}

.yui3-calendar-grid tbody {
    border-top: solid 1px #CBCBCB;
}

.yui3-calendar-grid tbody tr {
    border-top: solid 1px #CBCBCB;
}

.yui3-calendar-grid tbody tr td {
    background-color: #FFF;
    border-right: solid 1px #CBCBCB;
    padding: 0 5px;
    text-align: center;
}

.yui3-calendar-grid tbody tr td:hover {
    background-color: #0066CC;
}

.yui3-calendar-day.yui3-calendar-day-selected {
    background-color: #B3D4FF;
}

.aui-buttonitem-label-only {
    padding-bottom: 1px !important;
}