.diagram-builder-drop-container, .diagram-builder-canvas, .diagram-builder-content-container {
	height: auto;
	min-height: 600px;
}

.icon {
  background-repeat: no-repeat;
}

.nav {
  cursor: pointer;
}