/* Universal */

* {
  margin: 0;
  padding: 0;
}

body {
  background: url(../img/bg-transparent.gif);
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
}

a {
  text-decoration: none;
}

/* Heading */

h2 {
  font-size: 26px;
  text-align: center;
  padding-top: 30px;
}

h3 {
  font-size: 20px;
  text-align: center;
  margin-top: 10px;
}

/* Structure */

#wrapper {
  width: 960px;
  margin: 0 auto;
  /*border: 3px solid #333;*/
}

#content {
  width: 100%;
  background: #fff;
  border-right: 3px solid #000;
  border-left: 3px solid #000;
}

/* Header */

header, footer {
  width: 100%;
  height: 50px;
  background: #cfe2f3;
  border: 3px solid #000;
}

header li {
  padding: 15px;
  display: inline-block;
}

/* Intro */

.intro {
  height: 400px;
  border-bottom: 3px solid #000;
}

.intro img {
  float: left;
  padding: 30px 0 0 140px;
}

.intro h1 {
  font-size: 48px;
  padding: 60px 0 0 390px;
}

.intro p {
  font-size: 18px;
  margin: 10px 0 0 390px;
}

.intro a {
  padding: 20px 30px;
  background: #cfe2f3;
  border-radius: 50px;
  font-size: 24px;
  color: #000;
  border: 2px solid #000;
  width: 140px;
  display: inline-block;
  text-align: center;
  margin: 90px 20px 0 0;
}

#bt-download {
  margin-left: -80px;
}

/* Getting Started */

.getting-started {
  height: 260px;
  background: #fff;
  border-bottom: 3px solid #000;
}

.getting-started p {
  margin: 15px 30px 0;
}

.getting-started pre {
  padding: 5px;
  background: #cfe2f3;
  margin: 15px 30px 0;
  border-radius: 5px;
}

/* Showcase */

.showcase {
  height: 510px;
}

.showcase li {
  display: inline-block;
}

.showcase li a {
  width: 150px;
  height: 150px;
  display: block;
  margin: 30px 0 0 0;
  background: #cfe2f3;
  border: 2px solid #000;
}

.showcase li:nth-child(odd) a {
  margin-left: 310px;
}

.showcase li:nth-child(even) a {
  margin-left: 25px;
}

/* About/Contribute */

.about,
.contribute {
  height: 380px;
}

.about h2,
.contribute h2 {
  text-align: left;
  padding: 30px 30px 15px;
}

.about p,
.contribute p {
  padding: 10px 45px;
}

#page-about .intro,
#page-contribute .intro,
#page-examples .intro {
  height: 270px;
}

.authors {
  width: 400px;
  margin: 0 auto;
}

.author {
  float: left;
  width: 230px;
}

.author img {
  margin: 0 45px;
  border: 2px solid #000;
}

.author p {
  text-align: center;
  font-weight: bold;
}

/* Examples */

#page-examples {
  height: 900px;
}

#page-examples ul {
  width: 200px;
  height: 244px;
  margin: 30px;
  float: left;
  background: #cfe2f3;
  list-style: none;
  text-align: center;
}

#page-examples ul li {
  padding: 15px;
  border-bottom: 1px solid #000;
}

#page-examples .demo-list {
  float: right;
  width: 700px;
  padding-top: 20px;
}

#page-examples .demo {
  float: left;
  width: 292px;
  margin: 10px 50px 10px 0;
}

#page-examples .demo a {
  font-size: 18px;
  margin-bottom: 5px;
}

#page-examples .demo img {
  float: left;
  margin-right: 10px;
}

#page-examples .demo pre {
  padding: 5px;
  background: #cfe2f3;
  border-radius: 5px;
}

#page-examples .demo button {
  padding: 5px;
  margin: 15px 5px 15px 0;
  display: inline-block;
}