body {
  font-size: 12px;
  padding: 10px 30px;
}

#shipping {
  width: 482px;
  height: 152px;
  padding: 110px 0 0 30px;
  background: url('../img/shipping.png') transparent no-repeat 0 0;
  margin: 30px auto;
}

.info {
  display: block;
  line-height: 22px;
  padding: 0 5px 0 0;
  color: #36558E;
  margin: 5px 0;
}

.aui-autocomplete-results { z-index: 2 !important; }