/* Monokai Syntax Highlight */

pre {
  border: 0;
  padding: 0;
}

code {
  color: #3A87AD;
  padding: 2px 4px;
  background-color: #f7f7f9;
  border: 1px solid #e1e1e8;
}

pre code {
  overflow: auto;
  display: block;
  padding: 0.5em;
  background: #272822;
}

pre .tag,
pre .tag .title,
pre .keyword,
pre .literal,
pre .change,
pre .winutils,
pre .flow,
pre .lisp .title,
pre .clojure .built_in,
pre .nginx .title,
pre .tex .special {
  color: #F92672;
}

pre code {
  color: #DDD;
}

pre code .constant {
  color: #66D9EF;
}

pre .class .title {
  color: white;
}

pre .attribute,
pre .symbol,
pre .symbol .string,
pre .value,
pre .regexp {
  color: #BF79DB;
}

pre .tag .value,
pre .string,
pre .subst,
pre .title,
pre .haskell .type,
pre .preprocessor,
pre .ruby .class .parent,
pre .built_in,
pre .sql .aggregate,
pre .django .template_tag,
pre .django .variable,
pre .smalltalk .class,
pre .javadoc,
pre .django .filter .argument,
pre .smalltalk .localvars,
pre .smalltalk .array,
pre .attr_selector,
pre .pseudo,
pre .addition,
pre .stream,
pre .envvar,
pre .apache .tag,
pre .apache .cbracket,
pre .tex .command,
pre .prompt {
  color: #A6E22E;
}

pre .comment,
pre .java .annotation,
pre .python .decorator,
pre .template_comment,
pre .pi,
pre .doctype,
pre .deletion,
pre .shebang,
pre .apache .sqbracket,
pre .tex .formula {
  color: #75715E;
}

/* Global Resets */

html,
body {
  height: 100%;
}

body {
  font-family: 'Open Sans', sans-serif;
}

blockquote {
  border: 0;
}

h1 {
  margin: 25px 0 15px;
}

code,
pre {
  font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
  font-size: 14px;
  margin: 10px 0 5px;
  padding: 0 3px 2px;
  border-radius: 6px;
}

#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -54px;
  background: #FCFCFC;
}

#content {
  margin: 50px 0;
}

/* Github Ribbon */

.github-ribbon {
  position: fixed;
  top: 0;
  right: 0;
  border: 0;
  z-index: 404;
}


@media only screen and (max-width: 1048px) {
  .github-ribbon { display: none; }
}

/* Nav */

.aui-navbar {
  -webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, .25);
  -moz-box-shadow: 0 2px 3px rgba(0,0,0,.25);
  box-shadow: 0 2px 3px rgba(0, 0, 0, .25);
  *z-index: 402;
}

.aui-navbar-fixed-top,
.aui-navbar-fixed-bottom {
  z-index: 403;
}

.aui-navbar-inverse .aui-navbar-inner {
  background-color: #1b1b1b;
  background-image: -moz-linear-gradient(top, #3a3a3a, #000000);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#3a3a3a), to(#000000));
  background-image: -webkit-linear-gradient(top, #3a3a3a, #000000);
  background-image: -o-linear-gradient(top, #3a3a3a, #000000);
  background-image: linear-gradient(to bottom, #3a3a3a, #000000);
  background-repeat: repeat-x;
  border-color: #252525;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff3a3a3a', endColorstr='#ff000000', GradientType=0);
}

.aui-nav a {
  font-size: 16px;
  line-height: 2em;
}

#version {
  color: #999;
  font-size: 11px;
  margin: 22px 0 0 -12px;
  display: inline-block;
}

/* Banner */

.aui-banner {
  background-color: #035b7b;
  background-image: url(../img/tile.jpg);
  border-bottom: 5px solid #2bb2e4;
  margin: -50px 0 0 0;
  padding: 0;
  border-radius: 0;
  overflow: hidden;
}

.aui-banner h2 {
  color: #fff;
  font-weight: 700;
  line-height: 1.3em;
  background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#c6c6c6));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* Home Banner */

.aui-home-banner {
  height: 480px;
}

.aui-home-banner img {
  position: absolute;
  margin: 0 0 0 -140px;
  z-index: 1;
}

.aui-home-banner .aui-presentation {
  margin-left: 470px;
  position: relative;
  z-index: 2;
}

.aui-home-banner h2 {
  font-size: 50px;
  margin: 95px 0 0 0;
}

.aui-home-banner h3 {
  color: #fff;
  font-size: 25px;
  font-weight: 700;
  line-height: 1.3em;
  margin: 0;
  background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#c6c6c6));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.aui-home-banner p {
  width: 400px;
  color: #fff;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.5em;
  margin: 5px 0 5px 0;
}

/* Page Banner */

.aui-page-banner {
  height: 160px;
}

.aui-page-banner h2 {
  font-size: 44px;
  margin: 80px 0 0 0;
}

/* Buttons */

.bt {
  text-indent: -9999px;
  display: inline-block;
  margin: 25px 0 0 0;
}

#bt-download {
  width: 257px;
  height: 75px;
  background: url(../img/btn-download.png);
  margin-left: -5px;
}

#bt-download-2 {
  width: 252px;
  height: 73px;
  background: url(../img/btn-download-2.png);
  margin: 0 auto;
  display: block;
}

#bt-fork {
  width: 167px;
  height: 75px;
  background: url(../img/btn-fork.png);
}

#bt-contribute {
  width: 252px;
  height: 73px;
  background: url(../img/btn-contribute.png);
  margin: 0 auto;
  display: block;
}

/* Quote */

.aui-quote {
  width: 100%;
  height: 130px;
  background: #e9eced;
}

.aui-quote blockquote {
  margin: 0;
}

.aui-quote p {
  color: #53483b;
  line-height: 1.4em;
  font-size: 16px;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-style: italic;
  margin: 0;
  padding: 30px 0;
}

.aui-quote p .author {
  font-size: 13px;
}

/* Getting Started */

.aui-getting-started {
  margin-top: 40px;
}

.aui-title h3 {
  color: #12191d;
  font-size: 36px;
  font-weight: 400;
  text-align: left;
  line-height: 1em;
  margin: 10px 15px 10px 0;
  float: left;
}

.aui-title p {
  color: #12191d;
  font-size: 23px;
  font-weight: 300;
  font-style: italic;
  text-align: left;
  margin: 18px 0 0 0;
}

.aui-title .call {
  text-align: center;
  margin: 50px 0 30px;
}

.alloy-robot {
  margin-top: 10px;
}

.aui-instructions {
  margin-top: 25px;
}

.aui-instructions .aui-steps {
  font-size: 18px;
  margin-bottom: 5px;
}

.aui-instructions .aui-description {
  font-weight: 300;
}

/* Showcase */

.aui-showcase {
  margin-top: 10px;
}

.aui-showcase h3 {
  margin-bottom: 40px;
}

.aui-showcase .be-part {
  width: 400px;
  margin: 20px auto 0;
}

.aui-showcase .aui-be-part p {
  color: #12191d;
  font-size: 28px;
  font-weight: 300;
  font-style: italic;
  text-align: center;
  float: left;
  margin: 50px 10px 0 0;
}

.aui-showcase img {
  border: 7px solid #eee;
}

/* Footer */

.aui-footer,
#aui-push {
  height: 60px;
}

.aui-footer {
  background: #162026;
}

.aui-footer .aui-container {
  width: 940px;
}

.aui-footer .aui-nav {
  margin: 10px 10px 0 0;
}

.aui-footer .aui-nav > li > a {
  color: #e7e7e7;
  text-shadow: none;
}

.aui-footer a:hover {
  text-decoration: none;
}

.aui-footer .aui-nav > li > a:hover {
  color: #fff;
}

.aui-footer .aui-copyright {
  color: #e7e7e7;
  margin: 0;
  padding: 20px 0;
}

.aui-footer #liferay-logo {
  margin-top: 16px;
}

/* Sidebar */

.aui-bs-docs-sidebar {
  margin: 0;
}

.aui-related {
  font-size: 16px;
  font-weight: 300;
  font-style: italic;
  margin: 30px 0 10px 0;
}

.aui-bs-docs-sidenav {
  width: 90%;
  margin: 0;
  padding: 0;
  background-color: #fff;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
  -webkit-box-shadow: 0 1px 4px rgba(0,0,0,.065);
     -moz-box-shadow: 0 1px 4px rgba(0,0,0,.065);
          box-shadow: 0 1px 4px rgba(0,0,0,.065);
}

.aui-bs-docs-sidenav > li > a {
  display: block;
  width: 190px \9;
  margin: 0 0 -1px;
  padding: 8px 14px;
  border: 1px solid #e5e5e5;
}

.aui-bs-docs-sidenav > li:first-child > a {
  -webkit-border-radius: 6px 6px 0 0;
     -moz-border-radius: 6px 6px 0 0;
          border-radius: 6px 6px 0 0;
}

.aui-bs-docs-sidenav > li:last-child > a {
  -webkit-border-radius: 0 0 6px 6px;
     -moz-border-radius: 0 0 6px 6px;
          border-radius: 0 0 6px 6px;
}

.aui-bs-docs-sidenav > .aui-active > a {
  position: relative;
  z-index: 2;
  padding: 9px 15px;
  border: 0;
  text-shadow: 0 1px 0 rgba(0,0,0,.15);
  -webkit-box-shadow: inset 1px 0 0 rgba(0,0,0,.1), inset -1px 0 0 rgba(0,0,0,.1);
     -moz-box-shadow: inset 1px 0 0 rgba(0,0,0,.1), inset -1px 0 0 rgba(0,0,0,.1);
          box-shadow: inset 1px 0 0 rgba(0,0,0,.1), inset -1px 0 0 rgba(0,0,0,.1);
}

/* Chevrons */
.aui-bs-docs-sidenav .aui-icon-chevron-right {
  float: right;
  margin-top: 8px;
  margin-right: -6px;
  opacity: .25;
}

.aui-bs-docs-sidenav > li > a:hover {
  background-color: #f5f5f5;
}

.aui-bs-docs-sidenav a:hover .aui-icon-chevron-right {
  opacity: .5;
}

.aui-bs-docs-sidenav .aui-active .aui-icon-chevron-right,
.aui-bs-docs-sidenav .aui-active a:hover .aui-icon-chevron-right {
  background-image: url(../img/glyphicons-halflings-white.png);
  opacity: 1;
}

.aui-bs-docs-sidenav.affix {
  top: 40px;
}

.aui-bs-docs-sidenav.affix-bottom {
  position: absolute;
  top: auto;
  bottom: 270px;
}

/* Tutorial */

#try-btn {
  border: 0;
  display: inline;
}

#try-btn:hover {
  background-color: #006dcc;
  *background-color: #0044cc;
  background-image: -moz-linear-gradient(top, #0088cc, #0044cc);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0044cc));
  background-image: -webkit-linear-gradient(top, #0088cc, #0044cc);
  background-image: -o-linear-gradient(top, #0088cc, #0044cc);
  background-image: linear-gradient(to bottom, #0088cc, #0044cc);
  background-repeat: repeat-x;
  background-position: 0;
}


/* Example */

.aui-example {
  height: 240px;
  margin: 30px 6px 0;
}

.aui-example h2 {
  text-align: center;
}

.aui-example h2 a:hover {
  text-decoration: none;
}

.aui-example img {
  width: 280px;
  height: 100px;
  margin-bottom: 20px;
  border: 7px solid #eee;
}

.aui-example img:hover {
  border-color: #ddd;
}

/* About */

.aui-about,
.aui-contribute,
.aui-discussion {
  padding-top: 30px;
}

#contributors a {
  width: 90px;
  height: 90px;
  border: 7px solid #eee;
  margin: 7px 5px;
  display: inline-block;
}

#contributors img {
  width: 90px;
  height: 90px;
}