.aui-carousel {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  margin: 20px 0;
}

.aui-carousel-item {
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  text-indent: -9999em;
  width: 680px;
  height: 254px;
}

.aui-carousel li {
  margin: 0 !important;
}