---
title: Examples
description: What are some examples?
weight: 100
---

{namespace examplesIndex}

/**
 * @param page
 */
{template .render}
	{call main.render data="all"}
		{param content kind="html"}
			<div>
				<header class="header">
					<div class="container">
						<h1 class="header-title">{$page.title}</h1>
						<h2 class="header-subtitle">{$page.description}</h2>
					</div>
				</header>
			</div>
		{/param}
	{/call}
{/template}
