.carousel {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  margin: 20px 0;
}

.carousel-item {
  border-radius: 6px;
  width: 700px;
  height: 250px;
  opacity: 0;
}

.carousel li {
  margin: 0 !important;
}