#mySortableLayout *, .sidebar * {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.column {
  background-color: #F7F7F7;
  border: 1px solid #EEE;
  clear: none;
  float: left;
  margin: 10px 5px;
  padding: 10px;
  width: 22%;
}
.portlet {
  background-color: #EAEAEE;
  border: 1px solid #DADADE;
  border-top-color: #F0F0FE;
  cursor: move;
  margin: 5px 0;
  padding: 0 10px;
}
.sidebar {
  background-color: #F0F0FA;
  border: 1px solid #E0E0E0;
  border-top-color: #CCC;
  border-bottom-color: #F3F3F3;
  float: right;
  margin: 10px 5px;
  padding: 10px;
  max-width: 15%;
}
.sidebar * {
  max-width: 100%;
}
.portlet-item {
  cursor: move;
  color: #FFF;
  font-weight: bold;
  margin: 10px 0;
  padding: 10px;
  text-align: center;
  text-shadow: 0 1px 1px #000, 0 0 2px #000;
}
.blue {
  background-color: #BBF;
}
.green {
  background-color: #AFA;
}
.red {
  background-color: #FBB;
}
.yellow {
  background-color: #FFF5AA;
}
.portal-layout-proxy {
  border: 1px solid #000;
  border-radius: 3px;
  box-shadow: 0 0 15px 0 #888;
  background-color: #555;
  opacity: .3;
}