#myToolbarContainer {
  margin: 10px 5px;
}

#output {
	background-color: lightblue;
	border-radius: 5px;
	display: table-cell;
	height: 100px;
	margin: 10px 5px;
	text-align: center;
	vertical-align: middle;
	width: inherit;
}