<!doctype html>
<html>
<head>

  <meta charset="utf-8">
  <title>AlloyUI.com - Prototype</title>
  <link rel="stylesheet" href="/assets/css/main.css">

</head>
<body>

  <div id="wrapper">

    <header>
      <nav>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/examples.html">Docs &amp; Examples</a></li>
          <li><a href="/api.html">API Docs</a></li>
          <li><a href="/contribute.html">Contribute</a></li>
          <li><a href="/about.html">About</a></li>
        </ul>
      </nav>
    </header>

    {{ content }}

  </div>

</body>
</html>