<!doctype html>
<html>
<head>

  <meta charset="utf-8">
  <title>AlloyUI.com - Prototype</title>
  <link rel="stylesheet" href="/assets/css/main.css">

</head>
<body>

  <div id="wrapper">

    <header>
      <nav>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/docs.html">Documentation</a></li>
          <li><a href="/examples">Examples</a></li>
          <li><a href="#">API Docs</a></li>
          <li><a href="http://www.jsrosettastone.com/">Rosseta Stone</a></li>
          <li><a href="/contribute.html">Contribute</a></li>
          <li><a href="/about.html">About</a></li>
        </ul>
      </nav>
    </header>

    <div id="content">
      {{ content }}
    </div>

    <footer></footer>

  </div>

</body>
</html>