---
layout: default
---

<div id="page-examples">

  <section class="intro">
    <img src="{{ site.path }}/assets/img/logo.png" alt="AlloyUI - Logo" class="logo">
    <h1>AlloyUI</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit,<br> sed do eiusmod
    tempor incididunt ut labore et dolore<br> magna aliqua. Ut enim ad minim veniam.</p>
  </section>

  <nav>
    <ul>
      <li><a href="#">Category X</a></li>
      <li><a href="#">Category Y</a></li>
      <li><a href="#">Category V</a></li>
      <li><a href="#">Category W</a></li>
      <li><a href="#">Category Z</a></li>
    </ul>
  </nav>

  <div class="demo-list">
    {% for person in page.example['demo'] %}
    <section class="demo">
        <a href="{{ site.path }}/example/{{ person[0] }}">{{ person[1].name }}</a>
        <a href="{{ site.path }}/example/{{ person[0] }}">
          <img src="{{ person[1].thumbnail }}" alt="{{ person[1].name }}" />
        </a>
        <p>{{ person[1].description }}</p>
    </section>
    {% endfor %}
  </div>

</div>