---
layout: default
---

<div class="page" id="page-examples">

  {% include intro.html %}

  <!-- <nav>
    <ul>
      <li><a href="#">Category X</a></li>
      <li><a href="#">Category Y</a></li>
      <li><a href="#">Category V</a></li>
      <li><a href="#">Category W</a></li>
      <li><a href="#">Category Z</a></li>
    </ul>
  </nav> -->

  <div class="demo-list">
    {% for demo in page.example %}
    <section class="demo">
        <a href="{{ demo[0] }}">{{ demo[1].name }}</a>
        <a href="{{ demo[0] }}">
          <img src="{{ demo[1].thumbnail }}" alt="{{ demo[1].name }}" />
        </a>
        <p>{{ demo[1].description }}</p>
    </section>
    {% endfor %}
  </div>

</div>