---
layout: default
---

<div id="page-examples">

  <section class="intro">
    <img src="{{ site.path }}/assets/img/logo.png" alt="AlloyUI - Logo" class="logo">
    <h1>AlloyUI</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit,<br> sed do eiusmod
    tempor incididunt ut labore et dolore<br> magna aliqua. Ut enim ad minim veniam.</p>
  </section>

  <nav>
    <ul>
      <li>-- Other demos --</li>
      {% for example in page.examples %}
      <li><a href="#">{{ example.name }}</a></li>
      {% endfor %}
    </ul>
  </nav>

  <div class="demo-single">
    <iframe src="{{ site.path }}/{{ page.source }}" frameborder="0"></iframe>
  </div>

</div>