.yui3-datatable {
    border: solid 1px #CBCBCB;
    border-left-width: 0;
    margin: 10px 0 15px;
}

.yui3-datatable table {
    border-collapse: separate;
    width: 100%;
}

.yui3-datatable-columns {
    background-image: linear-gradient(#FFF, #CBCBCB);
    border-bottom: solid 1px #CBCBCB;
}

.yui3-datatable-columns th {
    border-left: solid 1px #CBCBCB;
    text-align: center;
}

.yui3-datatable-data tr.yui3-datatable-odd {
    background-color: #EDF5FF;
}

.yui3-datatable td {
    border-left: solid 1px #CBCBCB;
    padding: 5px;
    text-align: center;
}