.aui-diagram-builder-drop-container, .aui-diagram-builder-canvas, .aui-diagram-builder-content-container {
    height: auto;
    min-height: 600px;
}

.aui-icon {
  background-repeat: no-repeat;
}

.aui-nav {
  cursor: pointer;
}