.aui-view-960 #example {
  width: 688px;
}

.aui-view-720 #example {
  width: 472px;
}

.aui-view-gt720 #example li {
  float: left;
  height: 100%;
  width: 25%;
}

.aui-view-lt720 #example {
  width: 256px;
}

.aui-view-lt720 #example li {
  height: 40px;
  margin: 0 auto;
  width: 100%;
}